<div id="content" class="content">
<div class="container wal">
  <div class="account">
    <div class="account-tab">
      <%= render :partial => "/appraiser_steps/appraiser_tabs" %>
      <div class="wel-form account-form">
        <%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" },
          wrapper: :horizontal_form,
          wrapper_mappings: {
            check_boxes: :horizontal_radio_and_checkboxes,
            radio_buttons: :horizontal_radio_and_checkboxes,
            file: :horizontal_file_input,
            boolean: :horizontal_boolean
          } do |f| %>
        <%= devise_error_messages! %>
        <div class="pad">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-8">
                  <p class="hg dd">Use below fields to change your password.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <%= f.input :current_password, label: "Current Password", :hint => "We need your current password to confirm your changes", :class=>"form-control"%>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <%= f.input :password, label: "New Password", placeholder: "Use this field to change your password.", :class=>"form-control" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <%= f.input :password_confirmation, :hint => "Must have at least 6 characters: at least 1 digit, at least 1 upper case letter."%>
              </div>
            </div>
          </div>
        </div>
        <div class="bun2">
          <button type="button" class="btn next-1 bge left-2" onClick="window.location.href='notice.html'">Previous Step</button>
          <%= f.submit "Save", :class => "btn next-1 gre right-2"%>
          <div class="clear"></div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>