
<div class="container wal">
  <div class="account">
    <div class="account-tab">
      <%= render :partial => "appraiser_tabs" %>
      <div class="wel-form account-form notice">
        <%= simple_form_for @user, :url => wizard_path, :method => :put,  :html => {:multipart => true, :class => "form-horizontal"},
          wrapper: :horizontal_form,
          wrapper_mappings: {
          check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean
          } do |f| %>
          <div class="pad">
            <div class="row">
              <div class="col-md-12">
                <div class="kln">
                  <p>Please add a phone number in the Contact tab if you would like to have SMS (text message) notifications sent to your phone.</p>
                </div>

                <div class="checkbox">
                  <% if (!@user.address.phone1.nil? && !@user.address.phone1.blank? && !@user.address.phone1.empty?) %>
                    <%= f.check_box :notify_by_sms %> 
                    <%= f.label "Receive notifications by SMS (SMS notifications will be sent to #{@user.address.phone1})" %>
                  <% else %>
                    <div class="alert alert_phonenumber"><b>Please add a phone number in the Contact tab if you would like to have SMS (text message) notifications sent to your phone.</b></div>
                  <% end %>
                </div>

             
                <div class="checkbox">
                  <%= f.check_box :notify_by_email %>
                  <label> Please email a copy of my appraisal report to <%= @user.email%></br> Receive notifications by Email (Email notifications will be sent to <%= @user.email%></label>
                </div>
                 
                  <% if @user.is_appraiser?%>
                    <div class="checkbox">

                      <%= f.label "How often do you want to be notified when a job that is suitable for your skills is available?", class: "col-sm-3" %>
                      <%= f.collection_radio_buttons :next_notification_interval_in_minutes, [['0', ' As they arrive'] ,['1', ' Once an hour'],['4',' Every 6 hours'],['24',' Once per day']], :first, :last, item_wrapper_class: 'checkbox inline' %>
                    </div>  
                  <% end %>
                <div class="checkbox">
                  <label for="reimburse">NOTE: Value This Now does not reimburse for email or cellular data charges (if any) associated with notifications you elect to receive. Please click to accept.</label></br>
                  <input type="checkbox" name="reimburse" id="accept_reimburse" value="yes" <%= @user.notify_by_email || @user.notify_by_sms ? "checked" : "" %>>  <label>Accept</label>
                </div>
              </div>
            </div>
          </div>
          <div class="noy">
            * Note, your name, email address and contact information will be kept confidential during this process. You can answer inquires from customers at your personal discretion.
          </div>
          <div class="bun2">
            <button type="button" class="btn next-1 bge left-2" onClick="window.location.href='image.html'">Previous Step</button>
            <button type="button" class="btn next-1 gre right-2" onClick="window.location.href='email.html'">Save and Continue</button>
            <div class="clear"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>











