<div class="random-slider">
  <div id="owl-demo1" class="owl-carousel owl-theme">
    <div class="item orange" style="background:url(assets/new_template/bg_banner_1.png) no-repeat"data-center="background-position: 0% 0px;" data-top-bottom="background-position: 0% -50px;" >
    	<%= render "home/home_partials/slider_theme" %>
    </div>
    <div class="item darkCyan"  style="background:url(assets/new_template/bg_banner_2.png) no-repeat"data-center="background-position: 0% 0px;" data-top-bottom="background-position: 0% -50px;">
    	<%= render "home/home_partials/slider_theme" %>
    </div>
    <div class="item yellow" style="background:url(assets/new_template/bg_banner_3.png) no-repeat" data-center="background-position: 0% 0px;" data-top-bottom="background-position: 0% -50px;">
    	<%= render "home/home_partials/slider_theme" %>
    </div>
    <div class="item forestGreen" style="background:url(assets/new_template/bg_banner_4.png) no-repeat" data-center="background-position: 0% 0px;" data-top-bottom="background-position: 0% -50px;">
      <%= render "home/home_partials/slider_theme_4" %>
    </div>
    <div class="item forestGreen" style="background:url(assets/new_template/bg_banner_5.png) no-repeat" data-center="background-position: 0% 0px;" data-top-bottom="background-position: 0% -50px;">
      <%= render "home/home_partials/slider_theme_5" %>
    </div>
    <div class="item forestGreen" style="background:url(assets/new_template/bg_banner_6.png) no-repeat" data-center="background-position: 0% 0px;" data-top-bottom="background-position: 0% -50px;">
      <%= render "home/home_partials/slider_theme_6" %>
    </div>
  </div>
</div>